:root{ /*Vi bruger "root" for at kunne ændre farven på alt i vores html dokument til en af vores 6 valgte basisfarver*/
    --blå: #45CAFF;
    --pink: #FF1B6B;
    --sort: #000000;
    --hvid: #FFFFFF;
    --mørkegrå: #2B2B2B;
    --lysegrå: #9F9F9F;
    
}







