

/*Stylesheet*/




/*Variabler/var*/

:root{ /*Vi bruger "root" for at kunne ændre farven og typografien på alt i vores html. Vi laver altså et par faste variabler vi altid kan refere til*/
    --blå: #45CAFF;
    --pink: #FF1B6B;
    --sort: #000000;
    --hvid: #FFFFFF;
    --mørkegrå: #2B2B2B;
    --lysegrå: #9F9F9F;
    
    --overskrifter: "Bebas Neue", sans-serif;
    --paragraf: "inter", sans-serif;
}

/*BROWSER RESET*/

/*Vi bruger "CSS reset", da browseren i forvejen har lavet sine egne styles, placeringer osv. til vores website. Dette resetter vi.*/
* { /*Vi bruger dette tegn, da det fjerner alle elementer*/
    margin: 0;
    padding: 0;
}




/*BASE STYLES*/

body{
  background: var(--sort);
   overflow-x: hidden; /*Vi skjuler horisontale scrollbars så brugeren ikke kan scrolle til siden*/
}

.cta-knap {
  display: inline-flex;    /* Flex container, så vi kan centrere teksten */
  justify-content: center;    
  align-items: center;        
  padding: 1rem 2rem;
  background: linear-gradient(to right, #ff005d, #45d4ff);
  color: white;
  text-decoration: none;
  font-family: var(--overskrifter);
  font-size: 35px;
  border-radius: 8px;
  margin-top: 2rem;
  width: 360px;
  height: 70px;
}

h1{
  text-align: center;
  font-size: 100px;
  color: var(--hvid);
  font-family: var(--overskrifter)
}
h2{
 text-align: center;
  font-size: 60px;
  color: var(--lysegrå);
  font-family: var(--overskrifter) 
}
h3{
  font-size: 50px;
  color: var(--hvid);
  font-family: var(--overskrifter) 
}
h4{
   text-align: center;
  font-size: 30px;
  color: var(--hvid);
  font-family: var(--overskrifter) 
}
p{
  font-size: 20px;
  color: var(--hvid);
  font-family: var(--paragraf) 
}





/*FORSIDE STYLING*/


#forside{
     background-image: url(Billeder/forside-baggrund.jpg); /* Gradient baggrund */
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     text-align: center;
}

.forside-overskrift{
  padding-top: 18px;
}
.forside-paragraf{
  margin-top: -30px;
  padding-bottom: 20px;
}

 /*Intro-video style*/
    .intro-video {
      width: 80%;
      max-width: 560px;
      height: 315px;
      margin: 1rem auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }

/*unmute knap styling*/
#unmute-knap {
  position: absolute;
  background: #000000;
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
}


/*anmeldelser styling*/
.trustpilot-sektion {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem;
  text-align: center;
}

.trustpilot-anmeldelse {
  background: none; 
  box-shadow: none; 
  border: none;     
  color: var(--lysegrå); 
  font-family: var(--paragraf);
  max-width: 300px;
  padding: 1rem;
  flex: 1 1 250px;
}







/*PROGRAM STYLING*/

#program {
  padding: 2rem 2rem 0 2rem; /*vi fjerner padding i bunden så vi kan ligge en hvid svg der hjælper med en årgang ind til næste sektion*/
  border-radius: 8px;
  max-width: 1000px;
  margin: 2rem auto 0 auto; /*Vi bevarer auto til siderne for men sætter margin-bottom til 0 for at fjerne mellemrummet under*/
}

.program-boks {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem;
  border-radius: 10px;
  background-color: #2b2b2b;
  margin-bottom: 2rem;
}

.preview-billede {
  width: 40%;
  max-width: 300px;
  height: auto;
}

.dage {
  margin-bottom: -8px;
  text-align: left;
  font-size: 40px;
  color: var(--lysegrå);
  font-family: var(--overskrifter);
}

/* Label i øverste højre hjørne, roteret 45 grader */
.gratis-prøve {
  position: absolute;
  top: 10px;
  right: 10px;
  transform-origin: top right;
  background: black;
  font-size: 1.5rem;
  font-family: var(--overskrifter);
  color: var(--hvid);
  padding: 0.25rem 0.75rem;
  transform: rotate(45deg) translate(45%, -15%);
  background: #448239;
}

.gratis-prøve-knap { /*Her kopierer vi mange af de samme elementer fra CTA knappen på forsiden */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  padding: 1rem 2rem;
  background: linear-gradient(to right, #448239, #45d4ff);
  color: var(--hvid);
  font-family: var(--overskrifter);
  font-size: 35px;
  border-radius: 8px;
  width: 360px;
  height: 70px;
  text-decoration: none;
}









/*ANMELDELSER STYLING*/

#anmeldelser {
  background-color: var(--hvid);
}

.anmeldelser-overskrift {
  color: var(--sort);
}

/* Carousels styling */
.scroll-carousel-container { /* Vi sætter overflow: hidden på container så billeder ikke stikker ud.*/
  overflow: hidden;
  width: 100%;
  background-color: var(--hvid);
  padding: 20px 0;
}


.scroll-carousel-track {
  display: flex;
  width: max-content;
}


.scroll-carousel-track img {
  height: 250px;
  margin-right: 20px;
  object-fit: cover;
  border-radius: 12px; 
}

.scroll-carousel-container.carousel-middle .scroll-carousel-track img {
  height: 450px; 
  }

/* Animation til scroll venstre */
.scroll-carousel-container.carousel-left .scroll-carousel-track {
  animation: scroll-left 40s linear infinite;
}

/* Animation til scroll højre */
.scroll-carousel-container.carousel-right .scroll-carousel-track {
  animation: scroll-right 40s linear infinite;
}

/* Animation til scroll */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right { /*Vi ændrer left til right*/
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* Her sørger vi for at tracken ikke pauser ved hover */
.scroll-carousel-container:hover .scroll-carousel-track {
  animation-play-state: running;
}

.cta-knap2 { 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  padding: 1rem 2rem;
  background: linear-gradient(to right, #ff005d, #45d4ff);
  color: var(--hvid);
  font-family: var(--overskrifter);
  font-size: 35px;
  border-radius: 8px;
  width: 360px;
  height: 70px;
  text-decoration: none;
}



/*VICTOR CSS*/
.sloped-white-bg {
  background-color: var(--hvid);
  clip-path: polygon(0 14vw, 100% 0, 100% 100%, 0 100%); /* Skaber en skrå baggrund */
  padding: 5vw 0; /* Add padding to ensure content is not clipped */
  position: relative;
  z-index: 1;
  ;
}

.ansvarsfraskrivelse {
  background-color: var(--mørkegrå);
  color: var(--hvid);
  padding: 1rem;
  font-size: 16px;
  text-align: center;
}



.inkluderettop {
  display: flex;
  justify-content: center;
}

.inkluderettop p {
  font-family: var(--overskrifter);
  text-align: center;
  font-size: 70px;
}

.linecontainer {
  display: flex;
  justify-content: center;
}

.line {
  margin-bottom: 100px;
  background-color: var(--pink);
  width: 220px;
  height: 5px;
}

.ikoncontainer1 {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.container1 {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 600px;
  background: linear-gradient(140deg,rgba(255, 134, 180, 0.33) 0%, rgba(43, 43, 43, 1) 47%);
  border-radius: 20px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

#overskrift {
  font-family: var(--overskrifter);
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
}

.container1 img {
  width: 250px;
  height: 150px;
  align-self: center;
}

#undertekst {
  font-size: 21px;
  font-family: var(--overskrifter);
  text-align: center;
  color: var(--lysegrå);
}

.ikoncontainer2 {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
}



.omos {
  display: flex;
  justify-content: center;
  background: var(--mørkegrå);
  height: auto;
  padding-top: 150px;
  padding-bottom: 150px;
}

.whitebox {
  display: flex;
  flex-direction: column;
  background: white;
  width: 800px;
  height: 900px;
  border-radius: 20px;
  padding-top: 100px;
}

.omosbilleder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.omosbilleder img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.omosikoner {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.bi-youtube {
  color: #949494;
  font-size: 30px;
  letter-spacing: 13px;
}

.bi-spotify {
  color: #949494;
  font-size: 30px;
}

.navne {
  display: flex;
  justify-content: space-around;
}

.navne p {
  color: black;
  font-family: var(--overskrifter);
  font-size: 30px;
}

.tekst {
padding-top: 50px;
padding-left: 90px;
padding-right: 90px;
}

.tekst p {
  color:  #2B2B2B;
  font-family: var(--paragraf);
}



.info {
  padding-top: 75px;
  height: auto;
}

.toptekst {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.info p {
  font-family: var(--overskrifter);
}

#lilletekst {
  font-size: 43px;
  color: var(--lysegrå);
}

#stortekst {
  font-size: 75px;
  text-align: center;
}

#mindstetekst {
  font-size: 25px;
  color: var(--lysegrå);
  width: 700px;
  text-align: center;
}

.daw {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-top: 50px;
}

.daw img {
  width: 100px;
  height: 100px;
}

.buy {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 250px;
}

#buyoverskrift {
  text-align: center;
  font-family: var(--overskrifter);
  font-size: 75px;
  padding-bottom: 50px;
}

.buyimg {
  display: flex;
  justify-content: center;
}

.buybox {
  height: auto;
  padding-bottom: 50px;
  width: 700px;
  background: #FF1B6B;
  background: linear-gradient(180deg,rgba(255, 27, 107, 1) 0%, rgba(190, 88, 158, 1) 37%, rgba(69, 202, 255, 1) 100%);
  border-color: #FFF07D;
  border-style: solid;
  border-radius: 20px;
  border-width: 2px;
}

.buyboxinfo {
  padding-left: 30px;
  padding-right: 30px;
}

.bi-check-circle-fill {
  font-size: 2.0em;
  color: #24FFBE;
}

.tekstcontainer {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

#infotekst {
  font-family: var(--overskrifter);
  font-size: 30px;
  padding-left: 20px;
  line-height: 5px;
}

#infotekst2 {
  font-size: 18px;
  padding-left: 20px;
  font-family: var(--overskrifter);
  width: 70%;
}

.kr {
  position: absolute;
  padding-left: 550px;
}

#kroner {
  font-family: var(--overskrifter);
  font-size: 25px;
}

.buyboxcontainer {
  display: flex;
  
}

.linecontainer2 {
  display: flex;
  justify-content: center;
}

.line2 {
  margin-bottom: 100px;
  background-color: white;
  width: 90%;
  height: 3px;
  margin-top: 50px;
}

.boks6 {
  display: flex;
  justify-content: space-between;
  padding-left: 60px;
  
}

.kr2 {
  position: absolute;
  padding-left: 510px;
}

#kroner2 {
  font-family: var(--overskrifter);
  font-size: 25px;
}

.boks7 {
  display: flex;
  justify-content: space-between;
  padding-left: 60px;
  margin-top: 20px;
}

.linecontainer3 {
  display: flex;
  justify-content: center;
}

.line3 {
  position: absolute;
  background-color: white;
  width: 80px;
  height: 2px;
  margin-right: 185px;
  margin-top: 17px;
}

.cta-knap3 {
  display: flex;
  justify-content: center;
}

#ctaknap3 {
  width: 500px;
  box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}













/*GARANTI SEKTION*/
#garanti {
  text-align: center;
  padding: 2rem 1rem;
  margin: 0 auto;
  background-color: var(--hvid);
}

#garanti img {
  max-width: 500px;
  height: auto;
}

.garanti-overskrift {
  font-family: var(--overskrifter);
  color: var(--sort);
  font-weight: 800;
  margin: 1rem 0;
}

.garanti-h2{
  font-size: 2rem;
}
.garanti-h2-mørk{
  font-size: 2rem;
  color: var(--mørkegrå);
}


#garanti p {
  font-size: 1rem;
  font-family: var(--paragraf);
  line-height: 1.5;
  margin-bottom: 1rem;
}

@media screen and (min-width: 600px) {
  .garanti h2 {
    font-size: 2rem;
  }

  .garanti p {
    font-size: 1.1rem;
  }

  .garanti img {
    max-width: 250px;
  }
}

@media screen and (min-width: 1000px) {
  .garanti h2 {
    font-size: 2.2rem;
  }

  .garanti p {
    font-size: 1.2rem;
  }

  .garanti img {
    max-width: 300px;
  }
}